(
  filename:           "foobar",
  spritesheet_width:  128,
  spritesheet_height: 64,
  sprites: [
    // player
    (
      x:      0,
      y:      0,
      width:  32,
      height: 64,
    ),
    // platform
    (
      x:      32,
      y:      0,
      width:  32,
      height: 32,
    ),
  ],
)
